.testimony__title{
    text-align: center;
}

.testimony__div{
    display: flex;
    text-align: center;
}

@media (max-width: 640px){
    .testimony__div{
        display: block;
        text-align: center;
    }
}

.testimony__column{
    margin: 2vw;
}

.testimony__text{
    &--color{
        color: rgb(255, 247, 206);
    }

    &--cursive{
       font-style: italic;
    }
}

.testimony__img{
    width: 5em;
    height: 5em;
    border: 1px white solid;
    border-radius: 100%;
    margin: 2em 0em;
}